
h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 105.6px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 40px; 
  animation: changeTitle 2s ease-out;
  color: #fff;
}


.contentStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
  position: absolute;
}



@keyframes changeTitle {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainBgStyle {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  top: 128px;
  left: 0;
}

/* Адаптивные стили */
@media (max-width: 1440px) {
  h1 {
    font-size: 80px;
    line-height: 88px;
  }
  .mainBgStyle {
    height: 500px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 72px;
  }
  .mainBgStyle {
    height: 400px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
   .contentStyle {
    align-items: center;
  } 
  .mainBgStyle {
    height: 300px;
  }
}

@media (max-width: 430px) {
  h1{
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
   .contentStyle {
    align-items: center;
  } 
  .mainBgStyle {
    height: 200px;
  }
}




